{% extends "base_doctor.html" %} {% block title %}Doctor page{% endblock %} {%
block content %}
<!-- <nav class="navbar">
    <a href="index.html">Inicio</a>
    <a href="login.html">Expediente</a>
    <a href="register.html">Receta</a>
  </nav> -->
<div class="page-containerMedico">
  <div class="medico-container">
    <h1>Bienvenido Dr: {{ current_user.nombre }}</h1>

    <!-- Formulario de búsqueda de pacientes -->
    <form id="search-form">
      <input
        class="input-field"
        type="text"
        id="search-input"
        placeholder="Buscar paciente por nombre o número de seguro social"
      />
      <button type="submit" class="submit-button">Buscar</button>
    </form>

    <!-- Resultados de búsqueda de pacientes -->
    <div id="search-results" class="results">
      <h2>Resultados de Búsqueda:</h2>
      <ul>
        <li><a href="Expediente.html">Paciente 1</a></li>
        <li><a href="Expediente.html">Paciente 2</a></li>
        <!-- Agrega más pacientes encontrados aquí -->
      </ul>
    </div>

    <!-- Expediente del Paciente -->
    <h2>Expediente del Paciente:</h2>
    <div class="expediente-container">
      <p>Nombre: Paciente 1</p>
      <p>Edad: 35 años</p>
      <p>Historial Médico: Historial detallado del paciente.</p>

      <!-- Agrega más detalles del expediente aquí -->
      <a href="Receta.html">Generar Receta</a>
    </div>
    <div class="new-expediente-container">
      <form id="expediente-form">
        <h2>Crear nuevo expediente:</h2>
        <div class="form-group">
          <label for="username">Nombre del paciente</label><br />
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="input-field"
            required
          />
        </div>
        <div class="form-group">
          <label for="edad">Edad</label><br />
          <input
            type="number"
            id="edad"
            name="edad"
            min="0"
            class="input-field"
            required
          />
        </div>
        <div class="form-group">
          <label for="edad">Historial Medico</label><br />
          <textarea
            id="medicamentos"
            name="medicamentos"
            rows="4"
            cols="50"
            required
          ></textarea>
        </div>
        <button type="submit" class="submit-button">Generar Expediente</button>
      </form>
    </div>

    <!-- Formulario para generar recetas médicas -->
    <form id="receta-form">
      <h2>Generar Receta Médica:</h2>
      <label class="label" for="medicamentos">Medicamentos:</label>
      <textarea
        id="medicamentos"
        name="medicamentos"
        rows="4"
        cols="50"
      ></textarea
      ><br />
      <button type="submit" class="submit-button">Generar Receta</button>
    </form>
  </div>
</div>
{% endblock %}
