{% extends "base_doctor.html" %} {% block title %}Doctor page{% endblock %} {%
block content %}

<div class="page-containerMedico">
  <div class="medico-container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <h3 class="{{ category }}">{{ message }}</h3>
    {% endfor %} {% endif %} {% endwith %}
    <h1>Bienvenido Dr: {{ current_user.nombre }}</h1>

    <!-- Formulario de búsqueda de pacientes -->
    <div style="width: 500px">
      <form
        id="search-form"
        class="text-center"
        method="post"
        action="{{ url_for('mostrar_pacientes') }}"
      >
        <input
          type="text"
          class="input-field"
          name="buscador"
          placeholder="Buscar paciente por nombre"
        />
        <button type="submit" class="submit-button">Buscar</button>
      </form>
    </div>

    <div class="container">
      <h1>Datos de la cuenta</h1>
      <table class="table table-light table-striped table-hover">
        <tr>
          <th>Nombre</th>
          <td>{{ current_user.nombre }}</td>
        </tr>
        <tr>
          <th>Cedula</th>
          <td>{{ current_user.cedula }}</td>
        </tr>
        <tr>
          <th>Telefono</th>
          <td>{{ current_user.telefono }}</td>
        </tr>
        <tr>
          <th>Correo Electronico</th>
          <td>{{ current_user.correo }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
