{% extends "base_doctor.html" %} {% block title %}Lista pacientes{% endblock
title %} {% block content %}

<div class="container">
  <h1 class="text-center">Lista de Pacientes</h1>
  <form
    id="search-form"
    class="text-center"
    method="post"
    action="{{ url_for('mostrar_pacientes') }}"
  >
    <input
      type="text"
      class="input-field"
      name="buscador"
      placeholder="Buscar paciente por nombre"
    />
    <button type="submit" class="submit-button">Buscar</button>
  </form>
  <br />

  <form method="post" action="">
    <div class="text-center">
      <button type="submit" formaction="" class="btn btn-outline-primary">
        Ver Expediente
      </button>
      <button type="submit" formaction="" class="btn btn-outline-primary">
        Crear Receta
      </button>
    </div>
    <br />

    <table class="table table-light table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Paciente</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        {% for index in range(length) %}
        <tr>
          <td>{{ pacientes[index]["nombre"] }}</td>
          <td>{{ pacientes[index]["fecha_nacimiento"] }}</td>
          <td>
            <input
              type="radio"
              name="selected_row"
              value="{{ pacientes[index]['id_paciente'] }}"
            />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

{% endblock content %}
