<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }

      /*img {
        max-width: 100%;
        max-height: 100%;
      }*/
    </style>
  </head>
  <body>
    <div class="container">
      <h1>404 Not found Error</h1>
      <br />
      <img
        src="{{ url_for('static', filename='images/giphy.gif') }}"
        alt="Sad Vince Mcmahon GIF"
      />
    </div>
  </body>
</html>
