<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Sistema de Quejas y Sugerencias</title>
    <!-- Agrega tus estilos CSS aquí -->
    <style>
      body {
        background-color: lightblue;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      h3 {
        color: green;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <a href="{{ url_for('user_page', user=current_user.nombre) }}">Inicio</a>
      <a href="{{ url_for('agendador') }}">Agendar</a>
      <a href="{{ url_for('register_patient_page') }}">Registar Paciente</a>
      <a href="{{ url_for('quejas') }}">Quejas</a>
    </nav>

    {% if datos: %}
    <div class="container">
      <div class="agenda-container">
        <h1><strong>Evaluacion: </strong>{{ evaluacion }}</h1>
        <p>"{{ datos["comentario"] }}"</p>
      </div>
    </div>
    {% endif %}

    <div class="page-containerQuejas container">
      <div class="quejas-container">
        <h1>Sistema de Quejas y Sugerencias</h1>

        <p>
          Estamos interesados en tus comentarios. Por favor, comparte tus
          quejas, sugerencias o comentarios a continuación:
        </p>

        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %} {% endif %} {% endwith %}

        <!-- Formulario para enviar quejas y sugerencias -->
        <form id="quejas-form" action="{{ url_for('quejas') }}" method="post">
          <div class="form-group">
            <div class="mb-3 required">
              <label class="label" for="evaluacion"
                >Calificacion del Servicio</label
              >
              <select
                class="form-select"
                id="evaluacion"
                name="evaluacion"
                required
              >
                <option selected value="0.0">✘</option>
                <option value="1.0">⭐</option>
                <option value="2.0">⭐⭐</option>
                <option value="3.0">⭐⭐⭐</option>
                <option value="4.0">⭐⭐⭐⭐</option>
                <option value="5.0">⭐⭐⭐⭐⭐</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="label" for="comentario">Comentario:</label>
            <textarea
              id="comentario"
              name="comentario"
              rows="4"
              cols="50"
              required
            ></textarea>
          </div>
          <button class="submit-button" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
