{% extends "base_secretaria.html" %} {% block title %}asistente{% endblock title
%} {% block content %}

<h1>Pagina Asistente, Bienvenido/a {{ current_user.nombre }}</h1>

<div class="container">
  <h1>Datos de la cuenta</h1>
  <table class="table table-light table-striped table-hover">
    <tr>
      <th>Nombre</th>
      <td>{{ datos_secretaria["secretaria"] }}</td>
    </tr>
    <tr>
      <th>Doctor encargado</th>
      <td>{{ datos_secretaria["doctor"] }}</td>
    </tr>
    <tr>
      <th>Correo Electronico</th>
      <td>{{ datos_secretaria["correo"] }}</td>
    </tr>
  </table>
</div>

{% endblock content %}
