{% extends "base_doctor.html" %} {% block title %}Horario{% endblock %} {% block
content %} {% with messages = get_flashed_messages(with_categories=true) %} {%
if messages %} {% for category, message in messages %}
<h3 class="{{ category }}">{{ message }}</h3>
{% endfor %} {% endif %} {% endwith %}

<div class="container">
  <p>
    NOTA: se debe tener en cuenta que debe seleccionar horas completas ej. 8:00
    - 14:00
  </p>
</div>
<div class="page-containerIn">
  <div class="login-container">
    <form
      action="{{ url_for('horario_doctor') }}"
      method="post"
      id="login-form"
      onsubmit="return validarHoras()"
    >
      <div class="form-group">
        <label for="hora_entrada">Horario Entrada</label>
        <input
          type="time"
          step="3600"
          id="hora_entrada"
          name="hora_entrada"
          class="input-field"
          required
        />
        <br /><br />
        <label for="hora_salida">Horario Salida</label>
        <input
          type="time"
          step="3600"
          id="hora_salida"
          name="hora_salida"
          class="input-field"
          required
        />
      </div>
      <button type="submit" class="submit-button">Actualizar Horario</button>
    </form>
  </div>
</div>
<script>
  function validarHoras() {
    // Obtener los valores de los campos de hora
    var hora_entrada = document.getElementById("hora_entrada").value;
    var hora_salida = document.getElementById("hora_salida").value;

    // Comparar las fechas
    if (hora_entrada >= hora_salida) {
      alert("La hora de inicio debe ser anterior a la hora de fin");
      return false;
    }

    return true;
  }
</script>
{% endblock %}
