<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Interfaz de Usuario</title>
    <style>
      body {
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .info {
        color: green;
      }
      .error {
        color: red;
      }
    </style>
  </head>

  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('agendador') }}">Agendar</a>
      <a href="{{ url_for('register_patient_page') }}">Registar Paciente</a>
      <a href="{{ url_for('quejas') }}">Quejas</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <h3 class="{{ category }}">{{ message }}</h3>
    {% endfor %} {% endif %} {% endwith %}

    <div class="usercontainer">
      <div class="section">
        <h1>Perfil de Usuario</h1>
        <h2>Nombre: {{ current_user.nombre }}</h2>
        <p>Edad: [Edad del Usuario]</p>
        <!-- Puedes mostrar más detalles del perfil aquí -->
      </div>
      <div class="section">
        <h2>Historial de Citas</h2>
        <ul>
          <li>Cita 1 - Fecha y hora</li>
          <li>Cita 2 - Fecha y hora</li>
          <li>Cita 3 - Fecha y hora</li>
          <li>etc ...</li>
          <!-- Puedes listar las citas pasadas y futuras aquí -->
        </ul>
      </div>
    </div>
  </body>
</html>
