<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Interfaz de Usuario</title>
    <style>
      body {
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .info {
        color: green;
      }
      .error {
        color: red;
      }
    </style>
  </head>

  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('agendador') }}">Agendar</a>
      <a href="{{ url_for('register_patient_page') }}">Registar Paciente</a>
      <a href="{{ url_for('quejas') }}">Quejas</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <h3 class="{{ category }}">{{ message }}</h3>
    {% endfor %} {% endif %} {% endwith %}

    <div class="container">
      <h1>Datos de la cuenta</h1>
      <table class="table table-light table-striped table-hover">
        <tr>
          <th>Nombre</th>
          <td>{{ current_user.nombre }}</td>
        </tr>

        <tr>
          <th>Correo Electronico</th>
          <td>{{ current_user.correo }}</td>
        </tr>

        <tr>
          <th>Telefono</th>
          <td>{{ current_user.telefono }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
